DOMAIN="tischmid.42.fr"

WP_DB="wp_db"
DB_PORT="3306"
WP_DB_USER="wp_db_user"
WP_DB_PW="$(</dev/urandom tr -dc 'a-zA-Z0-9' | head -c64)"

WP_ADMIN_USER="wp_cli"
WP_ADMIN_EMAIL="noreply@localhost.localdomain"
WP_ADMIN_PW="$(</dev/urandom tr -dc 'a-zA-Z0-9' | head -c64)"
