name: inception

networks:
  wp-net:

services:
  nginx:
    container_name: nginx
    build: nginx
    ports: ["443:8443"]
    networks: [wp-net]
  wordpress:
    container_name: wordpress
    depends_on:
      mariadb:
        condition: service_started
    build: wordpress
    volumes: [$HOME/data/wp-site:/opt]
    networks: [wp-net]
  mariadb:
    container_name: mariadb
    build: mariadb
    volumes: [$HOME/data/wp-db:/var/lib/mysql]
    networks: [wp-net]
    ports:
      - "3306:3306"
