name: inception

networks:
  &wp_net wp_net:

x-base_config: &base_config
  networks: [*wp_net]
  restart: on-failure

volumes:
  # assignment requires use to have the volumes in $HOME/data
  # but a simple bind mount is not copy-once
  # therefore, we have to use named volumes that behave like bind mounts
  # if we want to run mariadb-install-db during the image build stage
  &wp_db wp_db:
    driver: local
    driver_opts: { type: none, o: bind, device: $HOME/data/wp_db/ }
  &wp_site wp_site:
    driver: local
    driver_opts: { type: none, o: bind, device: $HOME/data/wp_site/ }

services:
  # topologically sorted s.t. YAML anchors work
  &db mariadb:
    <<: *base_config
    environment: [WP_DB, WP_USER, WP_PW]
    build: *db
    volumes: [{type: volume, source: *wp_db, target: /var/lib/mysql/}]
  &site wordpress:
    <<: *base_config
    environment: {DOMAIN, DB: *db, DB_PORT, WP_DB, WP_DB_USER, WP_ADMIN_USER, WP_ADMIN_EMAIL}
    build: *site
    volumes: [&site_vol {type: volume, source: *wp_site, target: /var/www/html/wordpress/}]
    depends_on: [*db]
  &proxy nginx:
    <<: *base_config
    build: *proxy
    volumes: [*site_vol]
    ports: ["443:8443"]
